/*FOR ARTIST'S LOGO LINKING TO HOMEPAGE*/

.homelogo {
    height: 50px;
    width: 50px;
}

/*FOR TOGGLING, TEXT WILL ALIGN RIGHT*/

.navbar-nav {
    text-align: right;
}

/*FOR TEXTS IN NAVBAR*/

nav a {
    padding: 5px 5px;
    font-family: 'Signika Negative', sans-serif;
    font-size: large;
}

/*FOR STYLING OF TOGGLER*/

.navbar .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=black');
}
nav a:hover {
    background-color: #FFEFF0;
    color: white;
    display: inline-block;
}

/*OPENING IMAGES OF WEBSITE*/

.carousel-inner img {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    opacity: 0.7;
    width: 100vw;
    height: auto;
    max-height: 100vh;
    bottom: 0;
}
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', sans-serif;
  color: #DAA520;
  font-size: 5vw;
  text-shadow: 4px 4px 4px;
}

.biobackground{
    background-color: #FFFCFC;

}
.quote-text {
    font-family: 'Signika Negative', sans-serif;
    margin-top: 30px;
    margin-left: 20px;
    
}
/*HOMEPAGE ANIMATION*/

.fade {
    animation: fadein 4s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    color: #bf80ff;
}
.fade2 {
    animation: fadein 7s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    color: #ffb84d;
}
.fade3 {
    animation: fadein 11s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    color: teal;
}
.fade4 {
    animation: fadein 9s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.fade5 {
    animation: fadein 11s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*BIO PAGE*/

.bio-background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: auto;
}

.bio-quote {
        text-align: center;
        padding: 100px 20px;
        width: auto;
        background: rgba(204, 204, 204, 0.5);
        }
    
.bio-parallax {
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;
        height: 100vh;
        width: auto;
        padding-left: 10px;
        padding-top: 20px;
}
.bio-text {
    font-family: 'Concert One', sans-serif;
}

.about, p {
    color: black;
    font-weight: bold;
    width: auto;
    background: rgba(204, 204, 204, 0.5);
}
p {
    font-size: large;
}
/*FOR FORM SECTION*/

form {
    font-family: 'Concert One', sans-serif;
}
.formbackground {
    margin-top: 5vw;
    background-color: #e0ebeb;
    padding: 2vw;
}
.col-md-8 {
    max-width: 66.666667%;
}
.button-submit {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button-submit:hover {
  background-color: #008CBA;
  color: white;
}

/*FOR FEATURES SECTION*/

.featuresheading {
    margin-top: 60px;
    font-family: 'Concert One', sans-serif;
    width: 100%;
}
.caption {
    font-family: 'Concert One', sans-serif;
    font-size: 150%;
}
img {
    width:100%;
    height:auto;
}

/*FOR GALLERY*/

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

/*FOR FOOTER*/

p.copyright {
    color: black;
    line-height: 50px;
    font-size: 1.5em;
    position: absolute;
    width: 100%;
    text-align: left;
    font-family: 'Dancing Script', sans-serif;
}

div.footer {
    width: 100%;
    position: fixed;
}

ul.social-network {
	list-style: none;
	display: inline;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoInstagram:hover {
	background-color:#fe4164;
}
.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:0%;
	-webkit-border-radius:50%;
	border-radius:60%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
